<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div id="formlogin"></div>
        <div id="bybook"></div>
        <div id="random"></div>
    </section>
    <div id="questions">
        <form>
            <label for="question">Ask me about future:</label>
            <input type="text" name="question" />
        </form>
    </div>

    <script src='../static/script.js'></script>
    <script src="node_modules/random-quotes/dist/index.umd.min.js"></script>
</body>

</html>