<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <!-- <div id="formlogin"></div> -->
        <div>
            <button id="bybook">Fortune By Book</button>
        </div>
        <div id="random"></div>
    </section>
    <div id="questions">
        <form>
            <label for="question">Ask me about future:</label>
            <input type="text" name="question" />
        </form>
    </div>

    <script src='../../static/script/script.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/random-movie-quotes@1.0.3/random.min.js"></script>
</body>

</html>