<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div id="bybook">
            <button id="butbybook">Fortune By Book</button>
        </div>
        <div id="random"></div>
    </section>
    <div id="questions">
        <form id="userquestion">
            <label for="question">Ask me about future:</label>
            <input name="question" />
            <button type="submit" id="butrandom">Want to know</button>
        </form>

    </div>

    <script src='../../static/script/script.js'></script>

</body>

</html>